<div id="home-section" class="page-wrapper active">
  <div class="tab-menu">
    <nav class="tab-menu">
      <button class="tab-button active">おすすめ</button>
      <button class="tab-button">フォロー中</button>
    </nav>
  </div>
  <%= render 'shared/timeline' %>
</div>

<div id="profile-section" class="page-wrapper">
  <%= render 'shared/profile' %>
</div>


