html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* コンテナ */
.schedule-container {
  display: flex;
  height: 100%;
  background-color: #f0f4f8;
  justify-content: space-between;
}

.rainbow-text {
  background: linear-gradient(to right, lightskyblue, lightpink);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 36px;
}

/* サイドバー */
.schedule-sidebar {
  width: 300px;
  background-color: lightgrey;
  padding: 20px;
  color: skyblue;
  display: flex;
  flex-direction: column;
  position: relative;
}


/* メインコンテンツ */
.main-content {
  flex : 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

@media (max-width: 768px) {
  .schedule-container {
    flex-direction: column;
  }

  .schedule-sidebar {
    width: 100%;
    box-shadow: none;
  }

  .time-block {
    grid-template-columns: 1fr;
  }

  .calendar-days {
    grid-template-columns: repeat(5, 1fr);
  }
}